@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}  

.material-icons {
    color: #606060; 
    margin-right: 0.6rem;   
}
 
/* Navbar CODE BEGIN */
.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 3.2rem; 
    padding: 0 1rem;  
    position: sticky;
    top: 0;
    background-color: white; 
}

.navbar > .logo { 
    display: flex; 
    align-items: center; 
    margin-left: 0.4rem;  
}

.navbar > .logo > img {
    width: 7rem;  
    margin-left: 0.7rem; 
} 

.navbar > .searchbar {
    display: flex; 
    align-items: center;
    height: 2.2rem; 
}

.navbar > .searchbar > .search {
    display: flex; 
    border: 0.10rem solid #cccccc; 
    width: 37rem; 
    height: 100%;
    margin-right: 0.7rem; 
} 

.navbar > .searchbar > .search >input {
    border: none; 
    outline: none;
    width: 90%;
    padding-left: 0.30rem;  
} 

.navbar > .searchbar > .search >button {
    border: none;
    border-left: 0.10rem solid #cccccc; 
    width: 10%; 
    display: flex;
    align-items: center;
    justify-content: center;
} 

.navbar > .searchbar > .search > button > i {
    margin: 0; 
    padding: 0.2rem;  
} 
 
/* NAVBAR CODE END */ 

/* MAINBODY CODE BEGIN */

.mainbody {
    display: flex;
   height: calc(100vh - 56px);
   overflow: hidden;
} 

/* MAIN BODY . CATEGORIES */
.mainbody > .categories {
    width: 15rem;    
    height: 100%;
    background-color: white;
    overflow-y: scroll; 
} 

.mainbody > .categories > .category-section {
    border-bottom: 0.10rem solid #cccccc; 
    margin-top: 0.8rem;  
}

.mainbody > .categories > .category-section:last-child {
    margin-bottom: 0.8rem;  
}  

.mainbody > .categories > .category-section > .category-heading {
    margin: 0.7rem 0 0.7rem 1rem; 
    font-size: 0.9rem;
    font-weight: 500; 
    color: #606060;
}  

.mainbody > .categories > .category-section > .category {
    width: 100%; 
    display: flex; 
    align-items: center;
    height: 2.5rem;
    padding:0 1.3rem;  
    font-size: 0.9rem; 
    font-weight: 400; 
    cursor: pointer;
}

.mainbody > .categories > .category-section > .category:hover {
    background-color: #f9f9f9; 
}

.mainbody > .categories > .category-section > .category-active {
    width: 100%; 
    display: flex; 
    align-items: center;
    height: 2.5rem; 
    padding:0 1.3rem;   
    font-size: 0.9rem; 
    cursor: pointer;
    background-color: #d0d0d0; 
    font-weight: 500; 
}  

.mainbody > .categories > .category-section > .category-active:hover {
    background-color: #d0d0d0; 
}  

.mainbody > .categories > .category-section > .category-active > i {
    color: red;
}

/* MAINBODY . FOOTER */

.mainbody > .categories > .categories-footer {
    margin: 1.3rem; 
} 

.mainbody > .categories > .categories-footer > .footer-section {
    margin-bottom: 12px;  
}

.mainbody > .categories > .categories-footer > .footer-section > span {
    font-size: 0.9rem; 
    font-weight: 500;
    margin-right: 0.3rem;
    cursor: hover; 
    color: #606060; 
} 

.mainbody > .categories > .categories-footer > .copyright {
    padding: 1.3rem; 
    color: #606060; 
    font-size: 0.9rem; 
    font-weight: 500;
    margin-right: 0.2rem;
}   

 

/* MAINBODY . VIDEOS */

.mainbody > .videos {
    width: calc(100vw - 240px);
    height: 100%;
    background-color: #f9f9f9; 
    border-top: 0.10rem solid #cccccc; 
    overflow-y: scroll;
} 
 
.mainbody > .videos > .video-grid {
    display: flex; 
    flex-wrap: wrap;
    padding: 1rem;   
}   

.mainbody > .videos > .video-grid > .video {
    width: calc(25% - 12px);
    margin-right: 0.7rem;  
    margin-bottom: 2rem;
    cursor: pointer; 
}  
 
.mainbody > .videos > .video-grid > .video > .thumbnail > img {
    width: 100%; 
}

.mainbody > .videos > .video-grid > .video > .details {
    display: flex;  
    margin-top: 0.2rem; 
    width: 90%; 
}  

.mainbody > .videos > .video-grid > .video > .details > .profile {
    margin-right: 0.7rem;  
}

.mainbody > .videos > .video-grid > .video > .details > .profile > img {
    border-radius: 50%; 
    width: 2rem;
    height: 2rem;  
}

.mainbody > .videos > .video-grid > .video > .details > .video-details > p {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.1rem; 
} 


.mainbody > .videos > .video-grid > .video > .details > .video-details > .posted-by {
    font-size: 0.9rem; 
    font-weight: 500;
    color: #606060;
} 
  